<section class="found" ng-controller="found">
    <div class="ui-tab" id="tab3">
        <ul class="ui-tab-nav ui-border-b">
            <li>人物</li>
            <li>问题</li>
        </ul>
        <ul class="ui-tab-content"
            style="width: 300%; transition-property: transform; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-320px, 0px) translateZ(0px);">
            <li style="height: auto;">
                <div class="fd_iconTitle">
                    <ul class="fd_slideBar">
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                        <li>
                            <img src="src/img/bri_icon.jpg" class="f_s_icon">
                            <p>刘福松</p>
                        </li>
                    </ul>
                </div>
                <div class="newIntro ui-whitespace">
                    <p class="f_n_title ui-txt-info">新人推介 <span class="ui-txt-muted">更多</span></p>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="newIntro ui-whitespace">
                    <p class="f_n_title ui-txt-info">热门答主 <span class="ui-txt-muted">更多</span></p>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="newIntro ui-whitespace">
                    <p class="f_n_title ui-txt-info">知名医师 <span class="ui-txt-muted">更多</span></p>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                    <div class="f_n_block">
                        <img src="src/img/girl.png" class="f_n_icon">
                        <div class="info">
                            <h5 class="f_n_name">苏小望</h5>
                            <p class="f_n_intro ui-txt-muted">专业的知识，专业的水平</p>
                            <p class="mess ui-txt-info"><span>5回答</span><span>10收听</span></p>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
            </li>
            <li style="height: auto;">
                <section class="f_ques">
                    <div class="f_ques_block">
                        <img src="src/img/img_4.png" class="pic">
                        <div class="f_q_info">
                            <h5>结肠癌</h5>
                            <p class="ui-txt-info">关于结肠癌的相关问题</p>
                        </div>
                    </div>
                    <div class="f_ques_block">
                        <img src="src/img/img_4.png" class="pic">
                        <div class="f_q_info">
                            <h5>结肠癌</h5>
                            <p class="ui-txt-info">关于结肠癌的相关问题</p>
                        </div>
                    </div>
                    <div class="f_ques_block">
                        <img src="src/img/img_4.png" class="pic">
                        <div class="f_q_info">
                            <h5>结肠癌</h5>
                            <p class="ui-txt-info">关于结肠癌的相关问题</p>
                        </div>
                    </div>
                </section>
                <section class="hotSugguest">
                    <p class="f_hs_title ui-whitespace ui-txt-info">
                        热门推介
                    </p>
                    <section class="hs_con ui-whitespace">
                        <div class="hs_con_block">
                            <p>四岁宝宝感冒声音嘶哑，睡觉呼噜声大怎么办</p>
                            <p class="ui-txt-info"><span class="hs_master">答主：A-何鹏-易康医疗</span>&nbsp;|&nbsp;<span class="hs_intro">易康医疗创始人，北大医学博士</span></p>
                        </div>
                        <div class="hs_con_block">
                            <p>四岁宝宝感冒声音嘶哑，睡觉呼噜声大怎么办</p>
                            <p class="ui-txt-info"><span class="hs_master">答主：A-何鹏-易康医疗</span>&nbsp;|&nbsp;<span class="hs_intro">易康医疗创始人，北大医学博士</span></p>
                        </div>
                        <div class="hs_con_block">
                            <p>四岁宝宝感冒声音嘶哑，睡觉呼噜声大怎么办</p>
                            <p class="ui-txt-info"><span class="hs_master">答主：A-何鹏-易康医疗</span>&nbsp;|&nbsp;<span class="hs_intro">易康医疗创始人，北大医学博士</span></p>
                        </div>
                        <div class="hs_con_block">
                            <p>四岁宝宝感冒声音嘶哑，睡觉呼噜声大怎么办</p>
                            <p class="ui-txt-info"><span class="hs_master">答主：A-何鹏-易康医疗</span>&nbsp;|&nbsp;<span class="hs_intro">易康医疗创始人，北大医学博士</span></p>
                        </div>
                    </section>
                </section>
            </li>
        </ul>
    </div>
</section>