<section class="Listen" ng-controller="tolisten">
    <div id="tab2" class="ui-tab">
        <ul class="ui-tab-nav ui-border-b">
            <li class="">最新问题</li>
            <li class="">收听列表</li>
        </ul>
        <ul class="ui-tab-content"
            style="width: 300%; transition-property: transform; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-320px, 0px) translateZ(0px);">
            <li class="" style="height: auto;">
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">
                        如何学习语文的文言文内容，快速提高语文成绩？
                    </h4>
                    <p class="ui-txt-muted">王知易&nbsp;&nbsp;<span></span>&nbsp;&nbsp;英语文学语言老师</p>
                    <div class="listenTo">
                        <div class="Icon"></div>
                        <div class="hear">
                            <img src="src/img/iconPic/img2.png">
                            <h5>限时免费听</h5>
                        </div>
                        <div class="audience">
                            <img src="src/img/iconPic/erji.png">
                            <span>22人听过</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="" style="height: auto;">
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
                <div class="brilliance_block">
                    <img src="src/img/bri_icon.jpg" class="bri_icon">
                    <div class="bri_info">
                        <h5 class="bri_icon">刘德华</h5>
                        <p class="bri_itro ui-txt-muted">高级英语老师</p>
                        <div class="mess">
                            <div class="bri_anws ui-txt-muted">
                                <img src="src/img/iconPic/icon8.png">
                                <span>35个回答</span>
                            </div>
                            <div class="bri_lisn ui-txt-muted">
                                <img src="src/img/iconPic/erji.png">
                                <span>4772人收听</span>
                            </div>
                        </div>
                        <div class="toListn">
                            <img src="src/img/iconPic/icon6.png">
                            <span>收听</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>