<section class="mine">
    <div class="logo">
        <div class="myIcon">
            <img src="src/img/girl.png" >
        </div>
        <p class="logo_title">
            <span class="name">Michelle</span><br>
            <span class="logo_intro">英语教师&nbsp;&nbsp;0人收听</span><br>
            <span class="logo_prof">“解答相关英语学习问题及语言类学习问题”</span>
        </p>
        <div class="erweima"></div>
        <div class="edit"></div>
    </div>
    <div class="me_qus">
        <p class="m_googQues ui-whitespace"><img class="me_left" src="src/img/iconPic/renwu@3x.png">我的优问<img class="me_right" src="src/img/iconPic/icon-back.png"></p>
        <p class="m_contiQues ui-whitespace"><img class="me_left" src="src/img/iconPic/icon-list@3x.png">我的提问<img
                src="src/img/iconPic/icon-back.png" class="me_right"></p>
    </div>
    <div class="me_aws">
        <p class="m_googQues ui-whitespace"><img class="me_left" src="src/img/iconPic/huida@3x.png">我的优问<img class="me_right" src="src/img/iconPic/icon-back.png"></p>
        <p class="m_contiQues ui-whitespace"><img class="me_left" src="src/img/iconPic/remen@3x.png">我的提问<img
                src="src/img/iconPic/icon-back.png" class="me_right"></p>
    </div>
    <div class="aboutme">
        <p class="m_contiQues ui-whitespace"><img class="me_left" src="src/img/iconPic/guanyu@3x.png">我的提问<img
                src="src/img/iconPic/icon-back.png" class="me_right"></p>
    </div>
</section>