@import url('base.less');

html {
  .ff;
}

header {
  .mainbgc;
  .fontszie;
  h1 {
    .color;
  }
  i {
    font-size: @backfsz;
    line-height: 45px !important;
  }
  span {
    .color;
    position: absolute;
    width: 35px;
  }
  button.ui-btn {
    .topBtn();
  }
}

section.idx_tab {
  .idx_tab;
  .ui-tab-nav {
    li {
      color: #333;
    }
  }
  .ui-tab-content {
    background-color: #ebebeb;
  }
}

footer {
  .footer;
}